@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{ padding: 0;    margin: 0;}

body{    font-family: 'Roboto', sans-serif;     background-color: #000000;    margin: 1% 1%;}

h1,h2,h3,h4,li,a{   color: #ffffff;    text-shadow: 2px 2px 4px #000000;    text-decoration: none;  text-align: center;}
p{                  color: #17171A;    text-align: justify;     padding: 3%;}  

#contenedor{    width: 95%;     margin: auto;}

header{
    display: flex;  flex-direction: column;
    width: 100%;}

    .header-baner{
        display: flex;  flex-direction: row;
        align-items: center;    justify-content: space-around;
        background-color: rgb(24, 29, 33);
        overflow: hidden;}

        #logo_principal{    height: 100%;   opacity: 0.8;}

        .cont-menu{     
            display: flex;  flex-direction: row;
            align-items: center;    justify-content: center;
            background-color: #902129;
            width: 100%;}

            .cont-men-nav{
            display: flex; flex-direction: row;
            justify-content: center;
            width: 100%;}

            .cont-men-nav ul{
                list-style-type: none;  text-align: center; 
                margin: 2vw;}

            .cont-men-nav ul li{
                display: inline;}

section{
    display: flex;  flex-direction: column;
    background-color: rgb(202, 202, 202);
    width: 100%;}

    article{
        display: flex;  
        width: 100%; 
        background-image: url(images/Fondo.jpg);
        margin-top: 1vh;    margin-bottom: 1vh;}

        .slider{
            display: flex;  flex-direction: row;
            justify-content: center; align-items: center;}
            
            .slider_images{
                display: flex; flex-direction: row;
                background-color: black;
                overflow: hidden;}

                .slider_images ul{
                    display: flex;  flex-direction: column;
                    width: 100%;
                    padding: 0;
                    animation: image_changes 15s infinite alternate;}

                .slider_images ul li{
                    list-style: none;}

            .slider_comunidad{
                display: flex; 
                justify-content: center;
                background-color: rgb(177, 55, 55);
                overflow: auto}

                .slider_comunidad ul{
                    display: flex;  flex-direction: column;
                    padding: 0;}
                
                .slider_comunidad ul li{
                        list-style: none;   width: 100%;}

                .slider_comunidad ul li iframe{                
                    width: 90%;
                    margin-top: 5%; margin-left: 5%;}

        .articulo_cuerpo{
            display: flex;  flex-direction: column;
            justify-content: flex-start; align-items: center;
            background-color: rgba(255,255,255,0.3);
            padding: 2%;
            overflow: auto;}
        
        .articulo_imagen{
            display: flex;  flex-direction: column-reverse;
            align-items: center;    justify-content: center;
            background-color: black;}

        .articulo_imagen a{height: 90%;}

            #articulo_4 .articulo_imagen{   flex-direction: row-reverse;    flex-wrap: wrap;}
            
            .articulo_imagen img{   height: 90%;     max-width: 80%;}
            
            #imagen_spino {width: 45%;}
            
            #imagen_t-rex {width: 45%;}

footer{
    display: flex;  flex-direction: row;
    justify-content: space-around;  align-items: center;
    background-color: #902129;
    width: 100%;}
    footer a{ height: 100%;}
    footer a img{ width: 10vh; max-width: 15vw;}
            
@media screen and (min-width: 780px){

    li{font-size: 2.5vw;}
    h1, h2, h3,a{font-size: max(2vw,20px);}
    h4, p {font-size: max(14px,1.5vw,3vh); margin-top: 2vh; }  
    
        .header-baner{  height: 35vh;   width: 100%;}

        .cont-menu{height: 10vh;}

        #logo_camp{    height: 60%;}
        #logo_evolution{  height: 60%;}
        .bar-btn {  display: none;}
        #check{    display: none;}

        .cont-men-nav{flex-direction: row;}

            .cont-men-nav ul li{
                padding: 1vw 1vw;
                max-width: 20vw;}

        article{
        display: flex;  flex-direction: row;
        height: 90vh;
        margin-top: 2vh;    margin-bottom: 2vh;}
        
        .slider{    height: 70vh;}

            .slider_images{
                width: 60%; height: 70vh;
                }

                .slider_images img{ height: 69vh;}

                @keyframes image_changes {
                    0% {margin-top: 0;}
                    20% {margin-top: 0;}
                    25% {margin-top: -70vh;}
                    45% {margin-top: -70vh;}
                    50% {margin-top: -140vh;}
                    70% {margin-top: -140vh;}
                    75% {margin-top: -210vh;}
                    100% {margin-top: -210vh;}}

            .slider_comunidad{  width: 40%; height: 70vh;}

                        .slider_comunidad ul{   height: 70vh;}
                        
                        .slider_comunidad ul li iframe{ height: 65vh;}

        .articulo_cuerpo{   width: 50%;}

        .articulo_imagen{   width: 50%;}

                #imagen_velociraptor {height: 80%; max-width: 32%;}
                #imagen_spino {height: 80%; max-width: 32%;}
                #imagen_t-rex {height: 80%; max-width: 32%;}
}
@media screen and (min-width: 480px) and (max-width:780px){
    li{font-size: 2.7vw;}
    h1, h2, h3 {font-size: max(4vh,16px);}
    h4, p {font-size: max(1.6vw,12px);}  
    
        .header-baner{height: 30vh;   width: 100%;}
        
        .cont-menu{height: 10vh;}

        #logo_camp{    display:none;}
        #logo_evolution{  display:none;}

        .cont-men-nav{flex-direction: row;}
        
            .cont-men-nav ul li{
                padding: 1vw 1vw;
                max-width: 20vw;}

        article{
        display: flex;  flex-direction: row-reverse;
        height: 48vh;}

        .bar-btn {  display: none;}
        #check{    display: none;}
        
        .slider{    height: 50vh;}

            .slider_images{
                width: 48%; height: 50vh;}

                .slider_images img{ height: 49.5vh; max-width: 45vw;}

                @keyframes image_changes {
                    0% {margin-top: 0;}
                    20% {margin-top: 0;}
                    25% {margin-top: -50vh;}
                    45% {margin-top: -50vh;}
                    50% {margin-top: -100vh;}
                    70% {margin-top: -100vh;}
                    75% {margin-top: -150vh;}
                    100% {margin-top: -150vh;}}

            .slider_comunidad{width: 48%; height: 50vh;}
                    
                        .slider_comunidad ul{   height: 50vh;}
                        
                        .slider_comunidad ul li iframe{ height: 45vh;}

        .articulo_cuerpo{   width: 60%;}

        .articulo_imagen{   width: 40%;}}

@media screen and (max-width:480px){
    li{font-size: 4hw;}
    h1, h2, h3 {font-size: max(4vh,18px);}
    h4, p {font-size: max(1.5vw, 12px, 2vh);}  

        .header-baner{  height: 20vh;   width: 100%;}
        #logo_camp{    display:none;}
        #logo_evolution{  display:none;}
        .cont-menu{     height: 100%;}

            .cont-men-nav li a.active, .cont-men-nav li a:hover{
                color: rgb(236, 168, 168);transition: .2s;}
            
            .bar-btn {  font-size: 15px;  color: white;
                        cursor:pointer;
                        margin: 0.5%;   margin-left: 3%;}

            #check{  display: none;     margin: 0.5%;   margin-left: 3%;}
            
            .cont-men-nav{    
                flex-direction: column;
                height: 0;    background-color: #902129;}
            
                .cont-men-nav ul{
                display: block;
                line-height: 70%;
                margin: 5% 0;
                transition: all 0.5s;}

            .cont-men-nav ul li{
                display: block;
                padding: 2vh;
                height: 100%;}
            #check:checked ~ .cont-men-nav {height: 100%;}
            #check:checked ~ .cont-men-nav li{display: block;}

        article{
        flex-direction: column;
        height: 100vh;}
        
        .slider{
            flex-direction: column;
            height: 100vh;}

            .slider_images{flex-direction: column;
                width: 100%; height: 40vh;}
                
                .slider_images img{ height: 39.5vh; max-width: 90vw;}

                @keyframes image_changes {
                    0% {margin-top: 0;}
                    20% {margin-top: 0;}
                    25% {margin-top: -40vh;}
                    45% {margin-top: -40vh;}
                    50% {margin-top: -80vh;}
                    70% {margin-top: -80vh;}
                    75% {margin-top: -120vh;}
                    100% {margin-top: -120vh;}}

            .slider_comunidad{width: 100%; height: 40vh;}

                        .slider_comunidad ul{   height: 40vh;}
                        
                        .slider_comunidad ul li iframe{ height: 38vh;}

        .articulo{
            display: flex; flex-direction: column-reverse;
            width: 100%;}
            .articulo_cuerpo{
                    width: 98%; height: 60vh;
                    padding: 0%;}

            .articulo_imagen{
                    width: 100%; height: 40vh;}
                    #imagen_velociraptor {display: none;}
}